body{
    background-color: yellow;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    font-size: 20px;
}

header > img{
    width: 120px;
    height: 120px;
}

header > nav {
    display: flex;
    justify-content: space-between;
    width: 350px;
    align-items: center;
}

header nav > a:link {
    text-decoration: none;
}

header nav > a:hover {
   background-color: white;
}


.main{
    display: flex;
    height: 600px;
}

.main > section{
    background-color: rgb(241, 137, 171);
    flex: 4;
}

.main > aside{
    background-color: rgb(163, 113, 210);
    display: flex;
    flex: 1;
}

footer{
    background-color: rgb(108, 171, 243);
    height: 100px;
}

article form input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}
 
article form input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

